<h2 class="content-block">About</h2>
<div class="dx-toolbar-center">
    <p class="content-block dx-card responsive-paddings ">Developed By <span class="dx-badge ">Mosaad Ghanem</span>
        <br />Company <span class="dx-badge" style="margin:20px;">Appy Innovate</span>
    </p>
</div>
